*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: bisque;
    background-position: center;
    background-repeat: no-repeat;
}


header{
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: white;

}

.cont-img{
    background-image: url(../img/jujuy.jpg);
    min-height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.collapse navbar-collapse{
    background-color: rgb(194, 147, 100);
}

.navegador{
    background-color: rgb(194, 147, 100);
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.nav-pag li {
    display: inline-block;
    margin-top: 10px;
    list-style: none;
    background-position: right;
    color: black;
    font-size: 20px;
    padding-left: 75px;
    padding-right: 75px;

} 

.nav-pag li a {
    text-decoration: none;
    color: black;
}

.titulo {
    text-align: center;  
    justify-content: center;
    height: 100%;
}


.logo-titulo{
    height: 22vw;
}

.main{
    min-height: 5vh;
    
}

.nosotros{
    margin-top: 50px;
    width: auto;
    
}

.text{
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1{ 
    color: black;
    text-align: center;
    font-size: 50px;
}

.sobre{
    font-size: 35px;
}

.sobre-nosotros{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


.pal{   
    padding: 20px;
    height: auto;
    width: 50%;
    margin: 0 ;  
    
}

.sobre-nosotros p{
    margin-top: 100px;
}

.pagosypromociones{
    height: 50%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.medios-de-pago{
    margin-top: 2px;
    border: 4px solid;
    border-radius: 10px;
    text-align: center;
    margin-inline: 50px;
    background-color: rgb(198, 237, 237);
    height: 50%;
    width: 22%;
    min-width: 164px;
}
.mp{
    width: 30%;
    height: 50%;
    margin-top: 2%;
}

.promociones{ 
    margin-top: 2px;
    border: 4px solid;
    border-radius: 10px;
    background-color: rgb(28, 199, 174);
    margin-inline: 50px;
    height: 50%;
    width: 25%;
    min-width: 190px;
}

.promo{
    width: 30%;
    height: 50%;
    margin-top: 2%;
}

h2{
    color: rgb(80, 54, 54);
    margin-top: 10px;
    font-size: 30px;
    background-position: center;
}

.subtitulo{
    color: black;
    margin-top: 8px;
    font-size: 25px;
    background-position: center;
}

.tipos{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    max-width: 1366px;
    margin: auto;
}

.tipsom {
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
    background-color: white;
}
.tipsom img{
    max-width: 100%;
    height: 90%;
    width: 100%;
}

.tipos p{
    text-align: center;
    font-size: 40px;
}

.tom-medidas{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 180%;
}

.medidas{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
    width: 80%
}

.medidas img {
    width: 100%;
    max-width: 362px;
}

.accesorios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.indumentaria {
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}

.accind {
    font-size: 20px;
    
}

#contactoButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgb(222 156 89);
    border-radius: 5px;
    max-width: 200px;
}

.rounded-3 {
    background-image: url(../img/hornocal.jpg);
}

.text-uppercase {
    text-align: center;
}

.footer{
    margin-top: 30px;
    background-color: rgb(194, 147, 100);
    width: 100%;
}

.logo-footer {
    text-align: right;
    font-size: 60px;
    padding-left: 2px;
    padding-right: 10px;
    width: 100px;
    display: inline-block;
}
.logo{
    width: 40%;
    vertical-align: middle;
}
.fot-logo{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
}

ul.fot-logo {
    margin-bottom: 0;
}

.gente {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: .2fr 1fr;
    justify-content: center;
}

.h2-gente{
    font-size: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 20px;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: 90%;
    width: 100%
}

@media screen and (max-width: 768px){
    .pagosypromociones{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .tipos{
        grid-template-columns: auto;

    }
}

