#contactoButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgb(222 156 89);
    border-radius: 5px;
    max-width: 200px;
}

.rounded-3 {
    background-image: url(../img/hornocal.jpg);
}

.text-uppercase {
    text-align: center;
}
